.navbar {
    background-color: #f77878;
    height: 80px;
    /* display: flex; */
    align-items: center;
    /* justify-content: space-between; */
    position: sticky;
    padding: 0 100px;
    top: 0;
    z-index: 1;
  }
  
  .navbar h1 {
    margin-left: 15px;
    font-size: 40px;
    color: rgb(70, 3, 3);
    font-family: "Metamorphous", cursive;
  }

  @media screen and (max-width:400px){
    .navbar h1{
      font-size: 30px;
    }
  }