* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  .shop-container{
      display: flex;
      width: 100%;
  }
  .card-container {
    width: 75%;
    padding: 50px 0;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    background-color: #f0cece;
  }
  .selectCart-container{
      width: 25%;
      background-color:#f5a7a7 ;
  }